*{
margin: 0px;
padding: 0px;
}
nav .items {
        display: flex;
        align-items: stretch;
        list-style: none;
}
#Barra-navegacion {
    width: 500px;
    float: left;
    text-align: center  ;
    padding:4px 0 5px 0;
    list-style-type:none;   
}
.items li{ display:inline; }
.items li{
       font-size:0.9em;
        color:#fff; 
        text-shadow:1px 1px #000000;
        padding:0 0 0 10px;
}
.presentacion {
text-align: center; 
font-size: 50px; 
font-family: monospace, sans-serif;
}
